@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #ebebeb;
    color: #2e2e2e;

    /* font-size: 16px;
    font-weight: normal;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */

    font: normal 16px 'Roboto', sans-serif
}

a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

a:hover {
    color: rgb(21, 179, 252);
}

.avatar {
    width: 200px;
    /* height: 200px; */
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #8f8f8f;
    margin-top: 20px;
}

.info {
    display: flex;
    margin-bottom: 50px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info p {
    color: #aaaaaa;
    margin: 0;
    font-style: italic;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* word-spacing: 10px; */
}

.container {
    max-width: 700px;
    margin: auto;
    padding-top: 10px;
}

/* .social { */
    /* background: #ffffff; */
    /* padding: 15px; */
    /* padding: 10px 20px;
    margin: 20px 0px; */
    /* border: 5px solid #ebebeb; */
    /* border-bottom-style: dotted; */
    /* border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #adadad; */
/* } */

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #e5efff;
}

.card {
   padding: 15px 20px; 
   margin-bottom: 30px;
   border-radius: 20px;
   box-shadow: 0px 0px 20px 0px #d3d3d3;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #888888;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 15px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #888888;
}

/* .table tr:nth-child(odd) {
    background: grey;
} */

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(255, 121, 121);
    border-bottom-right-radius: 20px;
}

.contact h2 {
    text-align: center;
    padding-top: 30px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #808080;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    /* background: transparent; */
    border-radius: 20px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    outline: none;
    font-family: inherit;
    box-shadow: 0px 0px 20px 0px #d3d3d3;
}

.row {
    display: flex;
}

.row > .form-group {
    width: 50%;
    margin-right: 40px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    color: #f0f0f0;
    background-color: #333333;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #b9b9b9;
    margin-top: 15px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.btn-cont {
    text-align: center;
}

.btn:hover {
    background-color: #3e4275;

    /* opacity: 0.9; */
}
